# fetch
requests
beautifulsoup4

notebook==6.5.2

numpy
scipy
matplotlib
astropy
aplpy
git+https://github.com/radio-astro-tools/spectral-cube/#egg=spectral-cube
git+https://github.com/radio-astro-tools/radio-beam/#egg=radio-beam
git+https://github.com/radio-astro-tools/pvextractor/#egg=pvextractor
dask[complete]
dask-image
casatools
casatasks
casadata
