# fetch
requests
beautifulsoup4

notebook

numpy>=1.24
scipy>=1.8.1
matplotlib>=3.5.2
astropy>=6.1
regions
astroquery --pre
git+https://github.com/radio-astro-tools/spectral-cube/#egg=spectral-cube
git+https://github.com/radio-astro-tools/radio-beam/#egg=radio-beam
git+https://github.com/radio-astro-tools/pvextractor/#egg=pvextractor
dask[complete]
dask-image
joblib>=1.1
