numpy
scipy
matplotlib
astropy
aplpy
git+https://github.com/radio-astro-tools/spectral-cube/#egg=spectral-cube
git+https://github.com/radio-astro-tools/radio-beam/#egg=radio-beam
dask[complete]
--index-url https://casa-pip.nrao.edu/repository/pypi-casa-release/simple casatools
--index-url https://casa-pip.nrao.edu/repository/pypi-casa-release/simple casatasks